{% extends "orders/base.html" %}
{% load static %}
{% block content%}
    <h1> WELCOME</h1>
    <div style="color: azure;">
        <p class="lead">Noch's has reached a landmark this year......50 years in business! We've been feeding Harvard and the surrounding area since 1966!</p>
        <p class="lead">We sell award-winning sicilian-style pizza and mouth-watering steak subs! We have over 500 reviews on Yelp--- check it out!</p>
        <p class="lead">Pinocchio's was recently named 1st Runner-up in the 'Boston's Best Pizza Poll' conducted by Eater.com and Top College Pizza Shop by Thrillist.com.</p>
        <br>
        <h4>Create a free account to order food  <a href="{% url 'register' %}">Register here!</a></h4> 
          <img style="margin-left:30%;" src="{% static "images/pizza.gif" %}" class="rounded-lg" alt="My image">    
    </div>  
{% endblock content%}