{% extends "orders/base.html" %}
{% load static %}
{% block content%}
<style>
    
    *{margin: 0; padding: 0;}
    body{color: antiquewhite;}
    
</style>
    <h1>Menu-Card</h1>
    <div>
        <div class="container">
            <legend class="border-bottom mb-4">Pastas</legend>
            <div class="col-md-10">
                <table class="table table-dark table-hover">
                    {% for pasta in pastas %}
                    <tbody>
                        <tr>
                            <td> {{ pasta.name }}</td>
                            <td> ${{ pasta.price }}<a><img class='plus' height="25"  src="{% static "images/plusimg.png" %}"></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
            </div>
        </div>
        <div class="container">
            <legend class="border-bottom mb-4">Salads</legend>
            <div class="col-md-12">
                <table class="table table-dark table-hover">
                    {% for salad in salads %}
                    <tbody>
                        <tr>
                        <td> {{ salad.name }} </td>
                        <td> ${{ salad.price }}<a><img class='plus' height="25"  src="{% static "images/plusimg.png" %}"></a></td>

                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
            </div>
        </div>
        <div class="container">
            <legend class="border-bottom mb-4">Dinner Platters</legend>
            <div class="col-md-12">
                <table class="table table-dark table-hover">
                    <thead >
                        <tr >
                            <th>Name</th>
                            <th>Small</th>
                            <th>Large</th>
                        </tr>
                    </thead>
                    {% for dp in platters %}
                    <tbody>
                        <tr>
                        <td> {{ dp.name }} </td>
                        {% with category="Dinner Platter" %}  {% with size="small"%}<td>${{dp.small}}<a href="{% url 'add' category size dp.name dp.small %}"> <img class='plus' height="25"  src="{% static "images/plusimg.png" %}"></a></td>{% endwith %}        
                        {% with size="large"%}<td>${{dp.large}}<a href="{% url 'add' category size dp.name dp.small %}"> <img class='plus' height="25"  src="{% static "images/plusimg.png" %}"></a></td>{% endwith %}    {% endwith %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
{% endblock content %}